<h3>Authentication</h3>
<%= if length(@players) == 0 do %>
  <span>No players yet</span>
<% else %>
  <span>Log in as: </span>
  <ul>
    <ul>
      <%= for player <- @players do %>
        <li><%= link player.name, to: Routes.auth_path(@conn, :login, player.id) %></li>
      <% end %>
    </ul>
  </ul>
<% end %>